.container{
    display: grid;
    justify-content: center;
    height: 100vh;
    grid-template-columns: 35vw 35vw;
    grid-template-rows: 10% 80% 10%;
    gap: 30px;
}

.inputContainer{
    display: grid;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    border: 3px solid black;
    padding: 30px;
}

.previewContainer{
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border: 3px solid black;
    padding: 30px;
}

form{
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
}

form input{
    height: 50px;
    width: 300px;
}